<html>
<head>
  <title>Cloud Event Emitter</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <!-- CSS (load bootstrap from a CDN) -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.3/css/bootstrap.min.css">
  
  <style>
    body { padding-top:20px; }
  </style>

  <script>

    function initPage()
    {
      // Perform initialisation on any variable field
      $.ajax({url: "broker", success: function( result ) {
        $("#broker").val(result);
      }});
    }

    function submitEmit()
    {
      console.log( "Attempting to submit emit request.");

      // Get and check data
      var broker = $("#broker").val();
      var cetype = $("#cetype").val();
      var payload = $("#payload").val();

      console.log( "RAW:");
      console.log( "  " + broker );
      console.log( "  " + cetype );
      console.log( "  " + payload );

      broker = encodeURI(broker);
      cetype = encodeURI(cetype);
      payload = encodeURI(payload);

      // Build the url encoded
      var targetURL = "emit?broker=" + broker + "&type=" + cetype + "&payload=" + payload;

      $.ajax({url: targetURL, success: function(result) {
        $("#status").val = "EMIT sent to server";
      }});
    }

    function reveal( targetName )
    {
      target = document.getElementById(targetName);

      target.style.display = ( target.style.display == "block" ? "none" : "block" );

      buttonLabel = document.getElementById("hider").value;
      document.getElementById("hider").value = ( document.getElementById("hider").value == "Reveal" ? "Hide" : "Reveal");
    }

  </script>

</head>

<body onload="initPage();">
<div width="90%" padding="20px"><img src="/images/redhat.png" width="300px"/></div>

<div class="jumbotron">
  <h1>Cloud Event Emitter</h1>
  <b>Enter a target knative broker, Cloud Event Type and a payload:</b><br/>
  <input type="text" id="broker" style="width:100%"/><br/>
  <b>TYPE: </b><input type="text" id="cetype" style="width:400px"/><br>
  <textarea id="payload" rows="10" style="width:100%"></textarea><br>
  <input type="button" value="Emit Cloud Event" onClick="submitEmit()"/>
  <input type="text" id="status" style="width:100%" onFocus="this.blur();"/>
</div>  

</body>
</html>
